body{
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: rgb(16, 10, 102);
}



/* h1{
    font-size: 2em;
    color: black;
    width: 300px;
    height: 200px;
    background-color: green;
    float: left;
}

h3{
    font-size: 2em;
    color: black;
    width: 300px;
    height: 200px;
    background-color: green;
    float: right;
} */